// breakpoints
$breakpoint-desktop: 768px;

// colors
$main-text-color:white;
$border-color:yellow;
$header-bg-color:rgba(255, 255, 0, 0.308);
$tag-color:yellow;
$text-shadow:crimson;

//button colors
$btn-background-color: greenyellow;
$btn-box-shadow:#999;
$btn-text-color:#7d7b5d;
$btn-active-bg-color:springgreen;
$btn-active-disabled-color: white;
$btn-hover-focus-bg-color:#adff2fad;
$btn-active-disabled-box-shadow:#666;
$btn-disabled-bg-color:grey;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./assets/background.jpeg');
  color: $main-text-color;
}

.App {
  min-width: 370px;
  padding: 1em;
  font-family: 'Space Mono', monospace;
  .planet-card {
    margin: 0 auto;
    max-width: 500px;
    background-image: url('./assets/cardBackground.jpeg');
    background-repeat: no-repeat;
    opacity: .7;
    text-align: center;
    margin-bottom: 2em;
    padding: 2em;
    border: 2px solid $border-color;
    border-radius: 20px;
    h2 {
      background: $header-bg-color;
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 1em;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 1.5em;
      .tag {
        font-size: 1.3rem;
        font-weight: 900;
        color: $tag-color;
        font-family: monospace;
      }
      p {
        font-size: 1.8rem;
        font-weight: 900;
        text-shadow: $text-shadow 0px 0px 10px;
      }
    }
  }
  .button-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .btn {
      background-color: $btn-background-color;
      padding: 2em 3.6em;
      border-radius: 20px;
      outline: none;
      box-shadow: 0 9px $btn-box-shadow;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1rem;
      color: $btn-text-color;
      &:hover,
      &:focus {
        background-color: $btn-hover-focus-bg-color;
        cursor: pointer;
      }
      &:active {
        background-color: $btn-active-bg-color;
        box-shadow: 0 5px $btn-active-disabled-box-shadow;
        color: $btn-active-disabled-color;
        transform: translateY(5px);
      }
      &:disabled {
        background: $btn-disabled-bg-color;
        color: $btn-active-disabled-color;
        cursor: not-allowed;
        box-shadow: 0 5px $btn-active-disabled-box-shadow;
        transform: translateY(5px);
      }
    }
  }
}


@media (min-width: $breakpoint-desktop) {
  body {
    #root {
      .App{
        .planet-container {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 2em;
          .planet-card {
            min-width: 500px;
          }
        }
      }
    }
  }
}


.loading-screen-container {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  .loading-image {
    width: 50%;
  }
  .loading-text {
    font-size: 1.5rem;
    color: yellow;
  }
}

