* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  padding: 1em;
  background: springgreen;
  color: midnightblue;
  font-family: 'Space Mono', monospace;
  .planet-card {
    text-align: center;
    margin-bottom: 2em;
    padding: 2em;
    border: 2px solid black;
    border-radius: 20px;
    h2 {
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 1em;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 1.5em;
      .tag {
        font-size: 1.1rem;
        font-weight: 400;
        font-family: monospace;
      }
      p {
        font-size: 1.5rem;
        font-weight: 900;
      }
    }
  }
}